html {
  font-size: 100%;
}

body 
{
  color: #24292e;
}

img
{
  max-width: 100%;
}

a
{
  text-decoration: none;
}

header
{
	max-width:850px;
	margin:0 auto;
	padding: 0 4%;
	line-height:30px;
	height:150px;
	padding-top:100px;
}

header h1
{
	float:left;
	font-weight:normal;
	font-size:30px;
}

header ul
{
	float:right;
	text-decoration: none;
	font-size:15px;
}

header li
{
	float:left;
	list-style:none;
	padding: 0 15px;
	color: #24292e;
}

header li :hover
{
	opacity:0.7;
}

header li a
{
	color: #24292e;
}

.enter-back img
{
	width:100%;
	height:420px;
	object-fit: cover;
	margin-bottom:70px;
}

.About, .Works, .Contact, .News
{
	width:880px;
	margin: 0 auto;
}

.About h2
{
	text-align:center;
	padding-bottom:40px;
}

.About p
{
	font-size:15px;
}

.Works h2
{
	margin-top:80px;
	margin-bottom:40px;
	text-align:center;
}

.one-line
{
	float:left;
}

.one-line img
{
	width:30%;
	margin-bottom:23px;
	object-fit:cover;
	height:160px;
	padding-left:20px;
}

.two-line
{
        float:left;
}

.two-line img
{
        width:30%;
        object-fit:cover;
        height:160px;
        padding-left:20px;
}

.News h2
{
	padding-top:500px;
	padding-bottom:40px;
	text-align:center;
}

.News dl 
{
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
  font-size:0.9rem;
}

.News dt
{
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

.News dd
{
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

.Contact h2
{
	padding-top:80px;
	padding-bottom:40px;
	text-align:center;
}

.form dl
{
	flex-wrap: wrap;
}

.form dt
{
	 float: left ;
	    clear: left ;
	    margin-right: 0.5em ;
	    width: 120px ;
	    font-size:0.9em;
	    margin-bottom:20px;
}

.form input
{
	width:85%;
	height:30px;
	margin-bottom:20px;
	font-size:20px
}
	
.form textarea
{
	width:85%;
	height:140px;
	font-size:20px;
}

.form button 
{
	display:inline-block;
	color:white;
	background-color:black;
	line-height:25px;
	height:60px;
	width:200px;
	margin-left:370px;
	margin-top:40px;
	margin-bottom:100px;
}

.form button:hover
{
	color:black;
	background-color:white;
}

footer 
{
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}


